<footer class="hatunFontWithoutColor" style="padding-top: 4rem; background-color: #03314b; padding-bottom: 0 !important;;">
    <!--<div class="container">-->
        <div class="row" style="max-width: 100% !important; padding-left: 5%; line-height: normal;">
            <div class="col-xs-1">
                <a href="../index.html"><h4 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;     font-weight: bold;">inicio</h4></a>
            </div>
            <div class="col-xs-2" style="display: grid;">
                <a href="../nosotros.html"><h4 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;     font-weight: bold;">nosotros</h4></a>
                <a href="../nosotros.html#nosotros2"><span class="hatunFont" style="color: white !important;">quiénes somos</span></a>
                <a href="../nosotros.html#nosotros5"><span class="hatunFont" style="color: white !important;">visión</span></a>
            </div>
            <div class="col-xs-2" style="display: grid;">
                <a href="../nuestraplanta.html"><h4 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;     font-weight: bold;">instalaciones</h4></a>
                <a href="../nuestraplanta.html"><span class="hatunFont" style="color: white !important;">nuestra planta</span></a>
                <a href="../transporte.html"><span class="hatunFont" style="color: white !important;">maquinarias y transporte</span></a>
            </div>

            <div class="col-xs-2" style="display: grid;">
                <a href="../retail.html"><h4 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;     font-weight: bold;">proyectos</h4></a>
                <a href="../retail.html"><span class="hatunFont" style="color: white !important;">retail</span></a>
                <a href="../industrial.html"><span class="hatunFont" style="color: white !important;">industrial</span></a>
                <a href="../energiayminas.html"><span class="hatunFont" style="color: white !important;">energía y minas</span></a>
                <a href="../vial.html"><span class="hatunFont" style="color: white !important;">vial</span></a>
                <a href="../edificacion.html"><span class="hatunFont" style="color: white !important;">edificación</span></a>
            </div>

            <div class="col-xs-2">
                <a href="../cliente.html"><h4 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;     font-weight: bold;">clientes</h4></a>
                <a href="../proveedores.html"><h4 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;     font-weight: bold;">proveedores</h4></a>
            </div>

            <div class="col-xs-2">
                <a href="../contacto.html"><h4 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;     font-weight: bold;">contacto</h4></a>
                <a href="#"><h4 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;     font-weight: bold;">libro de reclamaciones</h4></a>
            </div>

        </div>

    <div class="row" style="max-width: 100% !important; padding-left: 2%;">
        <div class="col-sm">
            <a class="footer-logo" href="../index.html" style="margin-bottom: 10px;"></a>
        </div>
        <div class="col-sm" style="padding-top: 5.5%;">
            <h4 style=" color: white;">Av. Chorrrillos 388. Chorrillos, Lima - Perú / T.01 2515414 / Fax (511) 6292419</h4>
        </div>
    </div>
    <!--</div>-->
    <!--<div class="footer-main">-->
        <!--<div class="row" style="max-width: 100%; margin-left: 6%; margin-right: 6%;">-->
            <!--<div class="col-three md-1-6 tab-full footer-info" style="display: none;">-->
                <!--<a class="footer-logo" href="#" style="margin-bottom: 10px;     width: 125px !important;"></a>-->
                <!--<div style="    line-height: 2rem;">-->
                    <!--<span class="hatunFont" style="color: white !important; font-size: 0.85em;">Av. Tomas Marsano # 2813 Int. 603</span><br>-->
                    <!--<span class="hatunFont" style="color: white !important; font-size: 0.85em;">Santiago de Surco. Lima - Per&uacute;</span><br>-->
                    <!--<span class="hatunFont" style="color: white !important; font-size: 0.85em;"> <i class="fa fa-phone"></i>&nbsp;&nbsp;(01)&nbsp;4480689</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</footer>