<footer id="footer-main-block" class="hatunFontWithoutColor footer-main-block">
    <!--<div class="container">-->
        <div class="row footer-row-block" style="max-width: 100% !important;     padding-left: 2%;line-height: normal;width: 100%;margin: 0;">
            <div class="col-xs-1">
                <a href="../index.html"><h4 class="footer-row-tittle">inicio</h4></a>
            </div>
            <div class="col-xs-2" style="display: grid;">
                <a href="../nosotros.html"><h4 class="footer-row-tittle">nosotros</h4></a>
                <a href="../nosotros.html#nosotros2"><span class="hatunFont footer-row-content">quiénes somos</span></a>
                <a href="../nosotros.html#nosotros5"><span class="hatunFont footer-row-content">visión</span></a>
            </div>
            <div class="col-xs-2" style="display: grid;">
                <a href="../nuestraplanta.html"><h4 class="footer-row-tittle">instalaciones</h4></a>
                <a href="../nuestraplanta.html"><span class="hatunFont footer-row-content">nuestra planta</span></a>
                <a href="../transporte.html"><span class="hatunFont footer-row-content">maquinarias y transporte</span></a>
            </div>

            <div class="col-xs-2" style="display: grid;">
                <a href="../retail.html"><h4 class="footer-row-tittle">proyectos</h4></a>
                <a href="../retail.html"><span class="hatunFont footer-row-content">retail</span></a>
                <a href="../industrial.html"><span class="hatunFont footer-row-content">industrial</span></a>
                <a href="../energiayminas.html"><span class="hatunFont footer-row-content">energía y minas</span></a>
                <a href="../vial.html"><span class="hatunFont footer-row-content">vial</span></a>
                <a href="../edificacion.html"><span class="hatunFont footer-row-content">edificación</span></a>
            </div>

            <div class="col-xs-2">
                <a href="../cliente.html"><h4 class="footer-row-tittle">clientes</h4></a>
                <a href="../proveedores.html"><h4 class="footer-row-tittle">proveedores</h4></a>
            </div>

            <div class="col-xs-2">
                <a href="../contacto.html"><h4 class="footer-row-tittle">contacto</h4></a>
                <a href="#"><h4 class="footer-row-tittle">libro de reclamaciones</h4></a>
            </div>

        </div>

    <div class="row footer-row-block" style="max-width: 100% !important;     padding-left: 2%;line-height: normal;width: 100%;margin: 0;">
        <div class="col-xs">
            <a class="footer-logo" href="../index.html" style="margin-bottom: 10px;"></a>
        </div>
        <div class="col-xs footer-address-content" style="padding-top: 5.5%;">
            <h4 style=" color: white;">Av. Chorrrillos 388. Chorrillos, Lima - Perú / T.01 2515414 / Fax (511) 6292419</h4>
        </div>
    </div>

    <div id="footer-row-responsive-block" class=" footer-row-responsive-block">
        <div class="row" style="max-width: 100% !important;     padding-left: 2%;line-height: normal;width: 100%;margin: 0;     text-align: -webkit-center;">
            <a class="footer-logo" style="margin: 0!important;" href="../index.html"></a>
        </div>
        <div class="row" style="max-width: 100% !important;     padding-left: 2%;line-height: normal;width: 100%;margin: 0;     text-align: -webkit-center;">
            <h4 style=" color: white;">Av. Chorrrillos 388. Chorrillos, Lima - Perú <br> / T.01 2515414 / Fax (511) 6292419</h4>
        </div>
    </div>

    <!--</div>-->
    <!--<div class="footer-main">-->
        <!--<div class="row" style="max-width: 100%; margin-left: 6%; margin-right: 6%;">-->
            <!--<div class="col-three md-1-6 tab-full footer-info" style="display: none;">-->
                <!--<a class="footer-logo" href="#" style="margin-bottom: 10px;     width: 125px !important;"></a>-->
                <!--<div style="    line-height: 2rem;">-->
                    <!--<span class="hatunFont" style="color: white !important; font-size: 0.85em;">Av. Tomas Marsano # 2813 Int. 603</span><br>-->
                    <!--<span class="hatunFont" style="color: white !important; font-size: 0.85em;">Santiago de Surco. Lima - Per&uacute;</span><br>-->
                    <!--<span class="hatunFont" style="color: white !important; font-size: 0.85em;"> <i class="fa fa-phone"></i>&nbsp;&nbsp;(01)&nbsp;4480689</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</footer>