<footer class="hatunFontWithoutColor" style="padding-top: 4rem; background-color: #03314b; padding-bottom: 0 !important;;">
    <!--<div class="container">-->
        <div class="row" style="max-width: 100% !important; padding-left: 5%;">
            <div class="col-sm">
                <a href="#"><h3 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;">inicio</h3></a>
            </div>
            <div class="col-sm">
                <a href="#"><h3 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;">nosotros</h3></a>
                <a href="#"><h5 class="hatunFont" style="color: white !important;">quiénes somos</h5></a>
                <a href="#"><h5 class="hatunFont" style="color: white !important;">visión</h5></a>
            </div>
            <div class="col-sm">
                <a href="#"><h3 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;">instalaciones</h3></a>
                <a href="#"><h5 class="hatunFont" style="color: white !important;">nuestra planta</h5></a>
                <a href="#"><h5 class="hatunFont" style="color: white !important;">maquinarias y transporte</h5></a>
            </div>

            <div class="col-sm">
                <a href="#"><h3 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;">proyectos</h3></a>
                <a href="#"><h5 class="hatunFont" style="color: white !important;">retail</h5></a>
                <a href="#"><h5 class="hatunFont" style="color: white !important;">industrial</h5></a>
                <a href="#"><h5 class="hatunFont" style="color: white !important;">energía y minas</h5></a>
                <a href="#"><h5 class="hatunFont" style="color: white !important;">vial</h5></a>
                <a href="#"><h5 class="hatunFont" style="color: white !important;">edificacíon</h5></a>
            </div>

            <div class="col-sm">
                <a href="#"><h3 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;">clientes</h3></a>
                <a href="#"><h3 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;">proveedores</h3></a>
            </div>

            <div class="col-sm">
                <a href="#"><h3 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;">contacto</h3></a>
                <a href="#"><h3 style=" color: white;   padding-bottom: 5px !important; margin-bottom: 0 !important;">libro de reclamaciones</h3></a>
            </div>
        </div>

    <div class="row" style="max-width: 100% !important; padding-left: 2%;">
        <div class="col-sm">
            <a class="footer-logo" href="#" style="margin-bottom: 10px;"></a>
        </div>
        <div class="col-sm" style="padding-top: 5.5%;">
            <h4 style=" color: white;">Av. Chorrrillos 388. Chorrillos, Lima - Perú / T.01 2515414 / Fax (511) 6292419</h4>
        </div>
    </div>
    <!--</div>-->
    <!--<div class="footer-main">-->
        <!--<div class="row" style="max-width: 100%; margin-left: 6%; margin-right: 6%;">-->
            <!--<div class="col-three md-1-6 tab-full footer-info" style="display: none;">-->
                <!--<a class="footer-logo" href="#" style="margin-bottom: 10px;     width: 125px !important;"></a>-->
                <!--<div style="    line-height: 2rem;">-->
                    <!--<span class="hatunFont" style="color: white !important; font-size: 0.85em;">Av. Tomas Marsano # 2813 Int. 603</span><br>-->
                    <!--<span class="hatunFont" style="color: white !important; font-size: 0.85em;">Santiago de Surco. Lima - Per&uacute;</span><br>-->
                    <!--<span class="hatunFont" style="color: white !important; font-size: 0.85em;"> <i class="fa fa-phone"></i>&nbsp;&nbsp;(01)&nbsp;4480689</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</footer>