<header id="header" class="row" style="max-width: 100% !important; margin-left: 0 !important; opacity: 0.8;">

    <div class="header-logo">
        <a href="../index.html"></a>
    </div>

    <nav id="header-nav-wrap">
        <ul class="header-main-nav">
            <li class="hatunFont" style="    font-weight: bold;"><a class="hatunFont"  href="../nosotros.html" title="home">inicio</a></li>
            <li id="dropDownParentList" class="current">
                <a class="hatunFont dropdown-toggle"  href="#" title="testimonials" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="    font-weight: bold;">nosotros</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="    top: 75px !important; background-color: #ffffff; left: 40px;">
                    <a class="dropdown-item hatunFont hatunDropDown" href="../nosotros.html#nosotros2" style="text-decoration: none;     font-weight: bold;">quiénes somos</a>
                    <a class="dropdown-item hatunFont hatunDropDown" href="../nosotros.html#nosotros5" style="padding-bottom: 5%; text-decoration: none;     font-weight: bold;">visión</a>
                </div>
            </li>
            <!--<li class="hatunFont" style="    font-weight: bold;"><a class="hatunFont"  href="#" title="home">instalaciones</a></li>-->
            <li id="dropDownParentList2" class="current">
                <a class="hatunFont dropdown-toggle"  href="#" title="testimonials" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="    font-weight: bold;">instalaciones</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="    top: 75px !important; background-color: #ffffff; left: 135px;">
                    <a class="dropdown-item hatunFont hatunDropDown" href="../nuestraplanta.html" style="text-decoration: none;     font-weight: bold;">nuestra planta</a>
                    <a class="dropdown-item hatunFont hatunDropDown" href="../transporte.html" style="padding-bottom: 5%; text-decoration: none;     font-weight: bold;">transporte &<br> maquinaria</a>
                </div>
            </li>
            <li class="hatunFont" style="    font-weight: bold;"><a class="hatunFont"  href="#" title="home">proyectos</a></li>
            <li class="hatunFont" style="    font-weight: bold;"><a class="hatunFont"  href="#" title="home">clientes</a></li>
            <li class="hatunFont" style="    font-weight: bold;"><a class="hatunFont"  href="#" title="home">proveedores</a></li>
            <li class="hatunFont" style="    font-weight: bold;"><a class="hatunFont"  href="#" title="home">contactos</a></li>

            <!--<li class="hatunFont"><a class="hatunFont"  href="home.html" title="home">INICIO</a></li>-->
            <!--<li class="hatunFont"><a href="marcas.html" title="Marks" class="hatunFont">MARCAS</a></li>-->
            <!--<li class="hatunFont"><a href="testimonios.html" title="pricing" class="hatunFont">TESTIMONIOS</a></li>-->
            <!--<li id="dropDownParentList" class="current">-->
                <!--<a class="hatunFont dropdown-toggle"  href="#" title="testimonials" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CRÉDITOS</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="    top: 55px !important; background-color: #fcdc00; left: 220px;">-->
                    <!--<a id="solicitud" class="dropdown-item hatunFont hatunDropDown" href="creditos.html" style="text-decoration: none;">SOLICITUD</a>-->
                    <!--<a id="seguimiento" class="dropdown-item hatunFont hatunDropDown" href="creditos.html#tracking" style="padding-bottom: 5%; text-decoration: none;">SEGUIMIENTO</a>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="hatunFont" id="creditMobile" style="display: none;"><a class="hatunFont"  href="creditos.html" title="contacto">CREDITOS</a></li>-->
            <!--<li class="hatunFont"><a class="hatunFont"  href="contacto.html" title="contacto">TRABAJA CON NOSOTROS</a></li>-->
        </ul>
    </nav>

    <a class="header-menu-toggle" href="#"><span>Menu</span></a>

</header>

<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>
<script>
    $('#dropdownMenuLink').on('mouseover', function() {
        $('#dropDownParentList2').removeClass('open');
        $('#dropDownParentList').addClass('open');
    });

    $('#dropdownMenuLink2').on('mouseover', function() {
        $('#dropDownParentList').removeClass('open');
        $('#dropDownParentList2').addClass('open');
    });
</script>