<header id="header" class="row" style="max-width: 100% !important; margin-left: 0 !important; opacity: 0.8;">

    <div class="header-logo">
        <a href="../index.html"></a>
    </div>

    <nav id="header-nav-wrap">
        <ul class="header-main-nav">
            <li class="hatunFont header-menu-web" style="    font-weight: bold;"><a class="hatunFont"  href="../index.html" title="home">inicio</a></li>
            <li id="dropDownParentList" class="current header-menu-web">
                <a class="hatunFont"  href="../nosotros.html" title="testimonials" role="button"  style="    font-weight: bold;">nosotros</a>
                <div id="dropdownMenuLinkContent" class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="    top: 75px !important; background-color: #ffffff; left: 40px;">
                    <a class="dropdown-item hatunFont hatunDropDown" href="../nosotros.html#nosotros2" style="text-decoration: none;     font-weight: bold;">quiénes somos</a>
                    <a class="dropdown-item hatunFont hatunDropDown" href="../nosotros.html#nosotros5" style="padding-bottom: 5%; text-decoration: none;     font-weight: bold;">visión</a>
                </div>
            </li>

            <li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont"  href="../nosotros.html" title="testimonials" role="button" style="    font-weight: bold;">nosotros</a></li>
            <!--<li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont" href="../nosotros.html#nosotros2" style="font-weight: bold; padding: 6px 0 6px 20px;">quiénes somos</a></li>-->
            <!--<li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont" href="../nosotros.html#nosotros5" style="font-weight: bold; padding: 6px 0 6px 20px;">visión</a></li>-->

            <!--<li class="hatunFont" style="    font-weight: bold;"><a class="hatunFont"  href="#" title="home">instalaciones</a></li>-->
            <li id="dropDownParentList2" class="current header-menu-web">
                <a class="hatunFont"  href="../nuestraplanta.html" title="testimonials" role="button" id="dropdownMenuLink2" style="    font-weight: bold;">instalaciones</a>
                <div id="dropdownMenuLinkContent2" class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="    top: 75px !important; background-color: #ffffff; left: 135px;">
                    <a class="dropdown-item hatunFont hatunDropDown" href="../nuestraplanta.html" style="text-decoration: none;     font-weight: bold;">nuestra planta</a>
                    <a class="dropdown-item hatunFont hatunDropDown" href="../transporte.html" style="padding-bottom: 5%; text-decoration: none;     font-weight: bold;">transporte &<br> maquinaria</a>
                </div>
            </li>

            <li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont"  href="../nuestraplanta.html" title="testimonials" role="button" style="    font-weight: bold;">instalaciones</a></li>
            <!--<li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont" href="../nuestraplanta.html" style="font-weight: bold; padding: 6px 0 6px 20px;">nuestra planta</a></li>-->
            <li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont" href="../transporte.html" style="font-weight: bold; padding: 6px 0 6px 20px;">transporte &<br> maquinaria</a></li>


            <!--<li class="hatunFont" style="    font-weight: bold;"><a class="hatunFont"  href="#" title="home">proyectos</a></li>-->
            <li id="dropDownParentList3" class="current header-menu-web">
                <a class="hatunFont"  href="../retail.html" title="testimonials" role="button" id="dropdownMenuLink3" style="    font-weight: bold;">proyectos</a>
                <div id="dropdownMenuLinkContent3" class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="    top: 75px !important; background-color: #ffffff; left: 270px;">
                    <a id="retailLink" class="dropdown-item hatunFont hatunDropDown" href="../retail.html" style="text-decoration: none;     font-weight: bold;">retail</a>
                    <a id="industrialLink" class="dropdown-item hatunFont hatunDropDown" href="../industrial.html" style="text-decoration: none;     font-weight: bold;">industrial</a>
                    <a id="energiayminasLink" class="dropdown-item hatunFont hatunDropDown" href="../energiayminas.html" style="text-decoration: none;     font-weight: bold;">energía y minas</a>
                    <a id="vialLink" class="dropdown-item hatunFont hatunDropDown" href="../vial.html" style="text-decoration: none;     font-weight: bold;">vial</a>
                    <a id="edificacionLink" class="dropdown-item hatunFont hatunDropDown" href="../edificacion.html" style="text-decoration: none;     font-weight: bold;">edificación</a>
                </div>
            </li>


            <li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont"  href="#" title="testimonials" role="button" style="    font-weight: bold;">proyectos</a></li>
            <li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont" href="../retail.html" style="font-weight: bold; padding: 6px 0 6px 20px; line-height: 5px;">retail</a></li>
            <li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont" href="../industrial.html" style="font-weight: bold; padding: 6px 0 6px 20px; line-height: 5px;">industrial</a></li>
            <li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont" href="../energiayminas.html" style="font-weight: bold; padding: 6px 0 6px 20px; line-height: 5px;">energía y minas</a></li>
            <li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont" href="../vial.html" style="font-weight: bold; padding: 6px 0 6px 20px; line-height: 5px;">vial</a></li>
            <li class="hatunFont header-menu-responsive" style="    font-weight: bold;"><a class="hatunFont" href="../edificacion.html" style="font-weight: bold; padding: 6px 0 6px 20px; line-height: 5px;">edificación</a></li>

            <li class="hatunFont" style="    font-weight: bold;"><a class="hatunFont"  href="../cliente.html" title="home">clientes</a></li>
            <li class="hatunFont" style="    font-weight: bold;"><a class="hatunFont"  href="../proveedores.html" title="home">proveedores</a></li>
            <li class="hatunFont" style="    font-weight: bold;"><a class="hatunFont"  href="../contacto.html" title="home">contacto</a></li>


            <!--<li class="hatunFont"><a class="hatunFont"  href="home.html" title="home">INICIO</a></li>-->
            <!--<li class="hatunFont"><a href="marcas.html" title="Marks" class="hatunFont">MARCAS</a></li>-->
            <!--<li class="hatunFont"><a href="testimonios.html" title="pricing" class="hatunFont">TESTIMONIOS</a></li>-->
            <!--<li id="dropDownParentList" class="current">-->
                <!--<a class="hatunFont dropdown-toggle"  href="#" title="testimonials" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CRÉDITOS</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="    top: 55px !important; background-color: #fcdc00; left: 220px;">-->
                    <!--<a id="solicitud" class="dropdown-item hatunFont hatunDropDown" href="creditos.html" style="text-decoration: none;">SOLICITUD</a>-->
                    <!--<a id="seguimiento" class="dropdown-item hatunFont hatunDropDown" href="creditos.html#tracking" style="padding-bottom: 5%; text-decoration: none;">SEGUIMIENTO</a>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="hatunFont" id="creditMobile" style="display: none;"><a class="hatunFont"  href="creditos.html" title="contacto">CREDITOS</a></li>-->
            <!--<li class="hatunFont"><a class="hatunFont"  href="contacto.html" title="contacto">TRABAJA CON NOSOTROS</a></li>-->
        </ul>
    </nav>

    <a class="header-menu-toggle" href="#"><span>Menu</span></a>

</header>

<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>
<script>
    $('#dropDownParentList').on('mouseover', function() {
        $('#dropDownParentList2').removeClass('open');
        $('#dropDownParentList3').removeClass('open');
        $('#dropDownParentList').addClass('open');
    });

    $('#dropDownParentList2').on('mouseover', function() {
        $('#dropDownParentList').removeClass('open');
        $('#dropDownParentList3').removeClass('open');
        $('#dropDownParentList2').addClass('open');
    });

    $('#dropDownParentList3').on('mouseover', function() {
        $('#dropDownParentList').removeClass('open');
        $('#dropDownParentList2').removeClass('open');
        $('#dropDownParentList3').addClass('open');
    });

    // $('#dropdownMenuLinkContent').on('mouseleave', function() {
    //     $('#dropDownParentList').removeClass('open');
    // });
    //
    // $('#dropdownMenuLinkContent2').on('mouseleave', function() {
    //     $('#dropDownParentList2').removeClass('open');
    // });

    $('#dropDownParentList').on('mouseleave', function() {
        $('#dropDownParentList').removeClass('open');
    });

    $('#dropDownParentList2').on('mouseleave', function() {
        $('#dropDownParentList2').removeClass('open');
    });

    $('#dropDownParentList3').on('mouseleave', function() {
        $('#dropDownParentList3').removeClass('open');
    });

    validateLinkHeader();

    function validateLinkHeader() {
        if (window.location.toString().match(/retail/)) {
            $('#retailLink').css('cssText', 'color: #01a657 !important');
        } else if (window.location.toString().match(/industrial/)) {
            $('#industrialLink').css('cssText', 'color: rgb(0, 173, 239) !important');
        } else if (window.location.toString().match(/energiayminas/)) {
            $('#energiayminasLink').css('cssText', 'color: rgb(246, 142, 31) !important');
        } else if (window.location.toString().match(/vial/)) {
            $('#vialLink').css('cssText', 'color: rgb(236, 29, 35) !important');
        } else if (window.location.toString().match(/edificacion/)) {
            $('#edificacionLink').css('cssText', 'color: rgb(162, 35, 142) !important');
        }
    }
</script>